<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bcr_bot">

    

    <!-- ........................... SENSOR PLUGIN ................................... -->

    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>

        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher"></plugin>

        <!-- Diff drive plugin -->

        <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
            <num_wheel_pairs>2</num_wheel_pairs>
            <left_joint>drivewhl_fl_joint</left_joint>
            <left_joint>drivewhl_rl_joint</left_joint>
            <right_joint>drivewhl_fr_joint</right_joint>
            <right_joint>drivewhl_rr_joint</right_joint>
            <wheel_separation>0.5</wheel_separation>
            <wheel_radius>0.2</wheel_radius>
            <odom_publish_frequency>30</odom_publish_frequency>
            <topic>/cmd_vel</topic>
            <odom_topic>odom</odom_topic>
            <tf_topic>/tf</tf_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
        </plugin>
    </gazebo>

    <!-- ............................. ground truth .................................... -->
    <gazebo>
        <plugin filename="libgz-sim-odometry-publisher-system"
            name="gz::sim::systems::OdometryPublisher">
            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_footprint</robot_base_frame>
            <odom_topic>odom</odom_topic>
            <tf_topic>/tf</tf_topic>
            <dimensions>2</dimensions>
            <odom_publish_frequency>10</odom_publish_frequency>
        </plugin>
    </gazebo>

    <!-- ........................... Depth CAMERA config ................................... -->

    <gazebo reference="depth_camera">
        <sensor type="depth_camera" name="depth_camera">
            <update_rate>30.0</update_rate>
            <topic>depth_camera</topic>
            <gz_frame_id>depth_camera</gz_frame_id>
            <camera>
                <camera_info_topic>depth_camera/camera_info</camera_info_topic>
                <horizontal_fov>${radians(60)}</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
        </sensor>
    </gazebo>

    <!-- ........................... Wheels and Base and Stuff ................................... -->

    <xacro:macro name="base_gazebo_v0">
        <gazebo reference="base_link">
            <selfCollide>false</selfCollide>
            <mu1 value="0.05" />
            <mu2 value="0.05" />
        </gazebo>
    </xacro:macro>

    <xacro:macro name="wheel_gazebo_v0" params="prefix">
        <gazebo reference="${prefix}_link">
            <selfCollide>false</selfCollide>
            <mu1 value="1.2" />
            <mu2 value="1.2" />
        </gazebo>
    </xacro:macro>

    <xacro:base_gazebo_v0/>

    <xacro:wheel_gazebo_v0 prefix="drivewhl_fl"/>
    <xacro:wheel_gazebo_v0 prefix="drivewhl_fr"/>
    <xacro:wheel_gazebo_v0 prefix="drivewhl_rl"/>
    <xacro:wheel_gazebo_v0 prefix="drivewhl_rr"/>

</robot>